*{
    margin: 0px;
}

html{
    height: 100%;
    background-image: linear-gradient(#0046ae, #9198e5);
}

div {
    height: 400px;
    width: 270px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin: auto;
    margin-top: 100px;
    box-shadow: 2px 2px 20px black;
    
}

div:hover {
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

img {
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin-left: 35px;
    margin-top: 10px;
    transition: 0.2s;
}
img:hover{
    box-shadow: 0.5px 0.5px 10px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.MP {
    color: #ffffff;
    font-size: larger;
    margin-left: 86px;
    padding-top: 10px;
    text-shadow: 3px 3px 10px black;
}

.Sname {
    color: #ffffff;
    font-size: larger;
    text-align: center;
    text-shadow: 3px 3px 20px black;
}


.SW {
    color: #666666;
    font-size: medium;
    text-align: center;
    text-shadow: 3px 3px 20px black;
    transition: 0.7s;
}

.SW:hover {
    color: #2e2e2e;
    cursor: pointer;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.back
.for
.play while mouseover -> {
    border-color: #bebebe;
}
